@charset "utf-8";
body{
	background:#F9F9F9 url(../images/bg_body.png) top left repeat-x;
	}
	
#publicidad_top{
	margin:0 auto;
	}
	
#buscador{
	margin:0 auto;
	width:760px;
	height:365px;
	background:url(../images/bg_buscador.png) top center no-repeat;
	}
#logo{
	padding:20px 0 0 210px;
	}

#tipo_busqueda{
	padding:110px 110px 0 0;
	}
#tipos{
	float:right;
	}
#tipos a{
	margin:0 0 0 25px;
	}
#flecha{
	clear:both;
	float:right;
	}
#flecha img{
	margin-right:308px;
	}
#busqueda{
	padding:10px 100px 0 150px;
	clear:both;
	}
#busqueda a{
	padding:8px 0 0 0;
	float:right;
	}
#id_busqueda{
	border:1px #999 solid;
	border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	font-size:20px;
	padding:7px 5px;
	color:#666;
	width:350px;
	}

#title_resultados h3{
	color:#F30;
	font-weight:bold;
	border-bottom:3px #F30 solid;
	}

#resultados{
	width:750px;
	height:400px;
	overflow:auto;
	margin:0 auto;
	}
#resultados_content h4{
	border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	background:#F60;
	padding:10px;
	color:#FFF;
	}
#descripcion{
	padding:0 0 15px 0;
	}
#links{
	border-bottom:1px solid #F30;
	padding:5px 15px;
	}
#link_sitio a{
	text-align:center;
	float:left;
	text-decoration:none;
	padding:5px 10px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	background:#F90;
	color:#FFF;
	}
#link_sitio a:hover{
	background:#000;
	}
#descarga a{
	text-align:center;
	background: #F90 url(../images/download.png) left no-repeat;
	float:right;
	text-decoration:none;
	padding:5px 20px 5px 35px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	color:#FFF;
	}
#descarga a:hover{
	background:#000 url(../images/download.png) left no-repeat;
	}
.twitter, .facebook{
	float:left; 
	margin:0 0 0 10px;
	}
#result{
	padding:20px 0 20px 0;
	}
#resultados_content{
	padding:0 0 20px 0;
	}
	
	
#more{
width:83px;
height:24px;
background: url(../images/more.png) no-repeat;
cursor:pointer;
margin:40px auto;
}